# up/down arrow history completion based on what you've typed
"\e[A": history-search-backward
"\e[B": history-search-forward

"\e[1;5D": backward-word # ⌃←
"\e[1;5C": forward-word # ⌃→
"\e\e[D": backward-word # ⌥←
"\e\e[C": forward-word # ⌥→
"\e[H": beginning-of-line # home
"\e[F" end-of-line # end
"\e[3~": delete-char # delete
