ansible
attrs
black
boto3
Django
fire
flask
flask-restful
flask-socketio
ftfy
ipdb
jupyter
pandas
pip
pipdeptree
pipenv
psycopg2-binary
pygit2
python-dateutil
pudb
pygments
pyquery
pytest
PyYAML
requests
rethinkdb
setuptools
Sphinx
sqlalchemy
tmuxp
virtualenv
