ansible
attrs
black
boto3
csvs-to-sqlite
Django
fabric
fire
flask
flask-restful
flask-socketio
ftfy
gomp
ipdb
ipython
isort
jupyter
mycli
mypy
openpyxl
pandas
pgcli
pip
pipdeptree
pipenv
poetry
psycopg2-binary
ptpython
pudb
pygit2
pygments
pylint
pymongo
pyquery
pytest
pytest-cov
pytest-gitignore
python-dateutil
PyYAML
requests
rethinkdb
rich
setuptools
Sphinx
sqlalchemy
sqlite-utils
tabulate
tmuxp
virtualenv
visidata
xlrd
xonsh
