attrs
aush
black
boto3
bpython
click
cogapp
csvs-to-sqlite
Django
dtrx
fabric
fire
flameprof
flask
flask-restful
flask-socketio
ftfy
gomp
ipdb
ipython
isort
jupyter
litecli
matplotlib
mycli
mypy
nbterm
openpyxl
pgcli
pillow
pip
pipdeptree
polars
psycopg2-binary
ptpython
pudb
pygit2
pygments
pylint
pymongo
pyobjc
pyquery
pytest
pytest-cov
pytest-gitignore
python-dateutil
PyYAML
ranger-fm
requests
rich
ruff
setuptools
Sphinx
sqlalchemy
sqlite-utils
tabulate
tmuxp
toml
visidata
xlrd
yt-dlp
